// ========================================
// p-post
// ========================================
.c-posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &::after{
    @include _mq-up(xl){
      content:"";
      display: block;
      width:30%;
    }
  }
  &-title{
    margin-bottom: 20px;
    font-size: 20px;
  }
}
.c-post{
  margin-bottom: 15px;
  width: calc(( 100% - 20px ) / 2);
  @include _mq-up(){
    margin-bottom: 35px;
    width: calc(( 100% - 30px ) / 2);
  }
  @include _mq-up(xl){
    width: calc(( 100% - 90px ) / 3);
  }
  a{
    display: block;
  }
  &-titleWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-title{
    font-size: 14px;
    margin-bottom: 5px;
    @include _mq-up(){
      margin-bottom: 12px;
      font-size: 20px;
    }
  }
  &-image{
    position: relative;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 400ms;
    @include _mq-up(){
      margin-bottom: 30px;
      border: 5px solid #ffffff;
    }
    &::before{
      content: '';
      position: absolute;
      display: block;
      background-color: $_color-bg--main;
      width: 100%;
      height: 100%;
      z-index: -1;
      right: -10px;
      bottom: -10px;
      @include _mq-up(){
        right: -15px;
        bottom: -15px;
      }
    }
    &::after{
      content: '';
      position: absolute;
      display: block;
      background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
      
      width: 100%;
      height: 100%;
      z-index: -1;
      right: -10px;
      bottom: -10px;
      opacity: 0;
      transition: 400ms;
      @include _mq-up(){
        right: -15px;
        bottom: -15px;
      }
    }
  }
  a:hover{
    .c-post{
      &-image{
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        &::after{
          opacity: 1;
        }
      }
    }
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    &__date{
      color: #A6702E;
      font-size: 10px;
    }
    span{
      a{
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }
    &__avator{
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    &__author{
      color: $_color-text;
      font-size: 12px;
    }
  }
  &__likeIcon{
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    background-image: url("/image/icon/like.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-size: 20px !important;
    &.loved {
      background-image: url("/image/icon/like_on.svg");
    }
  }
  &__likeIconfont{
    &::before{
      content: "\E008";
      font-family: 'myfont', sans-serif;
      display: block;
    }
  }
}