// ========================================
// p-post
// ========================================
.c-posts{
  width: 100%;
  @include _mq-up(sm){
    display: flex;
    flex-wrap: wrap;
  }
}
.c-post{
  margin-bottom: 35px;
  @include _mq-up(sm){
    width: calc(( 100% - 30px ) / 2);
    margin-right: 30px;
    &:nth-of-type(2n){
      margin-right: 0;
    }
  }
  @include _mq-up(){
    width: calc(( 100% - 60px ) / 3);
    margin-right: 30px;
    &:nth-of-type(2n){
      margin-right: 30px;
    }
    &:nth-of-type(3n){
      margin-right: 0;
    }
  }
  @include _mq-up(xl){
    width: calc(( 100% - 90px ) / 4);
    margin-right: 30px;
    &:nth-of-type(2n){
      margin-right: 30px;
    }
    &:nth-of-type(3n){
      margin-right: 30px;
    }
    &:nth-of-type(4n){
      margin-right: 0;
    }
  }
  a{
    display: block;
  }
  &-title{
    font-size: 20px;
    margin-bottom: 12px;
  }
  &-image{
    position: relative;
    margin-bottom: 30px;
    border: 3px solid #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    &::after{
      content: '';
      position: absolute;
      display: block;
      background-color: $_color-bg--main;
      width: 50%;
      height: 100%;
      z-index: -1;
      right: -15px;
      bottom: -15px;
    }
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    &__date{
      color: #A6702E;
      font-size: 10px;
    }
    span{
      a{
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }
    &__avator{
      width: 20px;
      margin-right: 5px;
    }
    &__author{
      color: $_color-text;
      font-size: 12px;
    }
  }
}