.p-footer{
  border-top: 1px solid #f0f0f0;
  background-color: #413420;
  height: 60px;
  @include _mq-up(){
    height: 80px;
  }
  &--login{
    background-color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
    color: #fff;
  }
  &__txt{
    font-size: 12px;
    color: $_color-text;
    &-link{
      font-weight: bold;
      cursor: pointer;
    }
  }
}
