.p-footer{
  border-top: 1px solid #f0f0f0;
  background-color: rgba( #F5F5F5, 0.95 );
  height: 60px;
  @include _mq-up(){
    height: 80px;
  }
  &--login{
    background-color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav{
    height: 100%;
  }
  &-menu{
    display: flex;
    height: 100%;
    align-items: stretch;
    &__item{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      a{
        display: inline-block;
      }
      img{
        height: 30px;
        width: 30px;
        object-fit: contain;
        @include _mq-up(){
          height: 48px;
          width: 48px;
        }
      }
      &.-icon img{
        height: 30px;
        width: 30px;
        object-fit: contain;
        @include _mq-up(){
          height: 48px;
          width: 48px;
        }
      }
      &:last-child{
        img{
          height: 48px;
          width: 48px;
          object-fit: cover;
        }
      }
    }
    &__avator{
      width: 48px;
      height: 48px;
    }
  }
  &__txt{
    font-size: 12px;
    color: $_color-text;
    &-link{
      font-weight: bold;
      cursor: pointer;
    }
  }
}