.p-profile{
  display: flex;
  margin-bottom: 20px;
  &-wrapper{
    margin-bottom: 35px;  
    @include _mq-up(){
      margin-bottom: 55px;  
    }
  }
  &-avator{
    width: 95px;
    height: 95px;
  }
  &-textWrapper{
    padding: 10px 0 0 10px;
    flex: 1;
  }
  &-name{
    font-size: 20px;
    margin-bottom: 15px;
  }
  &-setting{
    width: 16px;
    cursor: pointer;
  }
  &-link{
    display: block;
    background-color: $_color-bg--main;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #BFBFBF;
    transition: 400ms;
    &:hover{
      @include _mq-up(){
        background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
      }
    }
  }
  &-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-post{
    width: calc(( 100% - 20px ) / 2);
    margin-bottom: 20px;
    @include _mq-up(){
      width: calc(( 100% - 30px ) / 2);
      margin-bottom: 30px;
    }
    &-textWrapper{
      text-align: center;
    }
    &-title{
      font-size: 14px;
      margin-bottom: 0;
    }
    &-image{
      margin-bottom: 20px;
      border: 3px solid #ffffff;
      @include _mq-up(){
        margin-bottom: 30px;
        border: 5px solid #ffffff;
      }
      &::before{
        right: -10px;
        bottom: -10px;
        @include _mq-up(){
          right: -15px;
          bottom: -15px;          
        }
      }
      &::after{
        right: -10px;
        bottom: -10px;
        @include _mq-up(){
          right: -15px;
          bottom: -15px;          
        }
      }
    }
  }
}