@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

@font-face {
  font-family: 'myfont';
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* variable
   -------------------------------------------------------------------------- */

/* #Base
   -------------------------------------------------------------------------- */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 15px;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #333;
  font-family: a-otf-jun-pro, sans-serif;
  font-weight: 400;
  /* アンチエイリアスを指定する */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  /* メトリクスカーニングを指定する */
  -webkit-font-kerning: normal;
          font-kerning: normal;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.4;
  color: inherit;
}

/**
       * ネストされたリストのマージンをリセットします。
       */

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
    * `dt`と`dd`の左端を揃えます。
    */

dd {
  margin-left: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/**
       * IEでSVGがフルードイメージにならない不具合があります。
       * 属性値が`.svg`で終わる要素に適応します。
       */

[src$=".svg"],
[data$=".svg"] {
  width: 100%;
}

/**
    * 日本語では斜体を使用しないためリセットします。
    */

i,
cite,
em,
address,
dfn {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
hr,
table,
fieldset,
figure,
pre {
  margin-top: 0;
  margin-bottom: 0;
}

.l-footer {
  height: 55px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.l-header {
  width: 100%;
  background-color: #F0F0F0;
  height: 70px;
}

#is-loading {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #FFFFFF;
  z-index: 3;
}

#loading {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  z-index: 4;
}

/* component--------------- */

.c-avator {
  border-radius: 50%;
  overflow: hidden;
}

.c-avator img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-posts {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 415px) {
  .c-posts {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .c-posts::after {
    content: "";
    display: block;
    width: 30%;
  }
}

.c-posts-title {
  margin-bottom: 20px;
  font-size: 20px;
}

.c-post {
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .c-post {
    width: calc(( 100% - 30px ) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .c-post {
    width: calc(( 100% - 90px ) / 3);
  }
}

.c-post a {
  display: block;
}

.c-post-titleWrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.c-post-title {
  font-size: 20px;
  margin-bottom: 12px;
}

.c-post-image {
  position: relative;
  margin-bottom: 30px;
  border: 5px solid #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.c-post-image::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #F2E2CE;
  width: 100%;
  height: 100%;
  z-index: -1;
  right: -15px;
  bottom: -15px;
}

.c-post-image::after {
  content: '';
  position: absolute;
  display: block;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  width: 100%;
  height: 100%;
  z-index: -1;
  right: -15px;
  bottom: -15px;
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.c-post a:hover .c-post-image {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.c-post a:hover .c-post-image::after {
  opacity: 1;
}

.c-post-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.c-post-info__date {
  color: #A6702E;
  font-size: 10px;
}

.c-post-info span a {
  text-decoration: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.c-post-info__avator {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.c-post-info__author {
  color: #333;
  font-size: 12px;
}

.c-post__likeIcon {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.c-post__likeIcon.-love {
  background-image: url("/image/icon/like.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px !important;
}

.c-post__likeIcon.-loved {
  background-image: url("/image/icon/like_on.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px !important;
}

.c-post__likeIconfont::before {
  content: "\E008";
  font-family: 'myfont', sans-serif;
  display: block;
}

.c-tags {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.c-tag {
  background-color: #F2E2CE;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* project--------------- */

.p-container-l {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.p-container-lm {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.p-container-m {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.p-footer {
  border-top: 1px solid #f0f0f0;
  background-color: rgba(245, 245, 245, 0.95);
  height: 60px;
}

@media screen and (min-width: 768px) {
  .p-footer {
    height: 80px;
  }
}

.p-footer--login {
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.p-footer nav {
  height: 100%;
}

.p-footer-menu {
  display: -webkit-box;
  display: flex;
  height: 100%;
  -webkit-box-align: stretch;
          align-items: stretch;
}

.p-footer-menu__item {
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
}

.p-footer-menu__item a {
  display: inline-block;
}

.p-footer-menu__item img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 768px) {
  .p-footer-menu__item img {
    height: 48px;
    width: 48px;
  }
}

.p-footer-menu__item.-icon img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 768px) {
  .p-footer-menu__item.-icon img {
    height: 48px;
    width: 48px;
  }
}

.p-footer-menu__item:last-child img {
  height: 48px;
  width: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-footer-menu__avator {
  width: 48px;
  height: 48px;
}

.p-footer__txt {
  font-size: 12px;
  color: #333;
}

.p-footer__txt-link {
  font-weight: bold;
  cursor: pointer;
}

.p-form {
  width: 100%;
}

.p-form-wrapper {
  background-color: #F2E2CE;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  overflow-y: hidden;
}

.p-form__logo {
  text-align: center;
  margin-bottom: 30px;
}

.p-form__logo a {
  display: block;
}

.p-form__logo img {
  width: 150px;
}

@media screen and (min-width: 768px) {
  .p-form__logo img {
    width: 170px;
  }
}

.p-form__input {
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.p-form__input::-webkit-input-placeholder {
  color: #fff;
}

.p-form__input::-moz-placeholder {
  color: #fff;
}

.p-form__input:-ms-input-placeholder {
  color: #fff;
}

.p-form__input::-ms-input-placeholder {
  color: #fff;
}

.p-form__input::placeholder {
  color: #fff;
}

.p-form__input.is-error {
  border: 1px solid #990000;
  background: #FFEBE8;
  color: #262626;
}

.p-form__input.is-error::-webkit-input-placeholder {
  color: #262626;
}

.p-form__input.is-error::-moz-placeholder {
  color: #262626;
}

.p-form__input.is-error:-ms-input-placeholder {
  color: #262626;
}

.p-form__input.is-error::-ms-input-placeholder {
  color: #262626;
}

.p-form__input.is-error::placeholder {
  color: #262626;
}

.p-form__submit {
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
}

.p-form__submit:hover {
  background-color: #fff;
  color: #F2E2CE;
  cursor: pointer;
}

.p-form__txt {
  text-align: center;
  font-size: 12px;
  color: #A6702E;
}

.p-form__txt-link {
  color: #A6702E;
  font-weight: bold;
  cursor: pointer;
}

.p-form__errorMsg {
  color: #990000;
  margin-bottom: 20px;
  display: block;
  margin-top: -10px;
}

.p-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.p-header__logo {
  width: 207px;
}

.p-modal__close {
  width: 20px;
}

.p-modal__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 5%;
  z-index: 100;
  display: none;
}

.p-modal__container {
  position: relative;
  max-width: 960px;
  width: 100%;
  height: 30vh;
  margin: 20vh auto;
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.p-modal__close {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

.p-modal__btn {
  display: block;
  padding: 15px 30px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.p-postEdit-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.p-postEdit-inner {
  max-width: 600px;
  margin: 50px auto;
}

.p-postEdit-form {
  margin-bottom: 50px;
}

.p-postEdit-form__pic {
  position: relative;
  display: block;
  background-color: #F0F0F0;
  width: 100%;
  padding-top: 66.6666%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.p-postEdit-form__pic-input {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0;
  margin: 0;
}

.p-postEdit-form__pic-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-postEdit-form__icon {
  position: absolute;
  top: calc( 50% - 15px);
  left: calc( 50% - 15px);
  font-size: 30px;
  cursor: pointer;
}

.p-postEdit-form__input {
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #fff;
  font-size: 16px;
  outline: none;
  padding: 10px;
  border: 1px solid #F0F0F0;
}

.p-postEdit-form__input::-webkit-input-placeholder {
  color: #F0F0F0;
}

.p-postEdit-form__input::-moz-placeholder {
  color: #F0F0F0;
}

.p-postEdit-form__input:-ms-input-placeholder {
  color: #F0F0F0;
}

.p-postEdit-form__input::-ms-input-placeholder {
  color: #F0F0F0;
}

.p-postEdit-form__input::placeholder {
  color: #F0F0F0;
}

.p-postEdit-form__input.is-error {
  border: 1px solid #990000;
  background: #FFEBE8;
  color: #262626;
}

.p-postEdit-form__input.is-error::-webkit-input-placeholder {
  color: #262626;
}

.p-postEdit-form__input.is-error::-moz-placeholder {
  color: #262626;
}

.p-postEdit-form__input.is-error:-ms-input-placeholder {
  color: #262626;
}

.p-postEdit-form__input.is-error::-ms-input-placeholder {
  color: #262626;
}

.p-postEdit-form__input.is-error::placeholder {
  color: #262626;
}

.p-postEdit-form__input-tags {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.p-postEdit-form__input-tag {
  display: block;
  width: calc(( 100% - 10px) / 2);
  height: 40px;
  margin-bottom: 10px;
  background-color: #fff;
  font-size: 16px;
  outline: none;
  padding: 10px;
  border: 1px solid #F0F0F0;
}

.p-postEdit-form__input-tag::-webkit-input-placeholder {
  color: #F0F0F0;
}

.p-postEdit-form__input-tag::-moz-placeholder {
  color: #F0F0F0;
}

.p-postEdit-form__input-tag:-ms-input-placeholder {
  color: #F0F0F0;
}

.p-postEdit-form__input-tag::-ms-input-placeholder {
  color: #F0F0F0;
}

.p-postEdit-form__input-tag::placeholder {
  color: #F0F0F0;
}

.p-postEdit-form__submit {
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #ccc;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.p-postEdit-form__submit:hover {
  background-color: #fff;
  color: #F2E2CE;
  cursor: pointer;
}

.p-profile {
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
}

.p-profile-wrapper {
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .p-profile-wrapper {
    margin-bottom: 55px;
  }
}

.p-profile-avator {
  width: 95px;
  height: 95px;
}

.p-profile-textWrapper {
  padding: 10px 0 0 10px;
}

.p-profile-name {
  font-size: 20px;
  margin-bottom: 15px;
}

.p-profile-setting {
  width: 16px;
  cursor: pointer;
}

.p-profile-link {
  display: block;
  background-color: #F2E2CE;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #BFBFBF;
  -webkit-transition: 400ms;
  transition: 400ms;
}

@media screen and (min-width: 768px) {
  .p-profile-link:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e6b980), to(#eacda3));
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  }
}

.p-profile-posts {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.p-profile-post {
  width: calc(( 100% - 30px ) / 2);
}

.p-profile-post-textWrapper {
  text-align: center;
}

.p-profile-post-title {
  font-size: 12px;
  margin-bottom: 0;
}

.p-profileEdit-header {
  padding: 0 5%;
  width: 100%;
  height: 70px;
  background-color: #F0F0F0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.p-profileEdit-header__inner {
  position: relative;
  height: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.p-profileEdit-header__cancel {
  color: #333;
  position: absolute;
  left: 0;
}

.p-profileEdit-header__title {
  color: #333;
}

.p-profileEdit-header__submit {
  color: #009DFF;
  outline: none;
  position: absolute;
  right: 0;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  width: 70px;
  font-size: 16px;
  border: none;
}

.p-profileEdit-form dl {
  border-top: 1px solid #F0F0F0;
  padding: 10px 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.p-profileEdit-form dl:last-child {
  border-bottom: 1px solid #F0F0F0;
}

.p-profileEdit-form dl > dt {
  width: 80px;
  text-align: center;
  margin-right: 20px;
}

.p-profileEdit-form dl > dd {
  -webkit-box-flex: 1;
          flex: 1;
}

.p-profileEdit-form dl > dd input,
.p-profileEdit-form dl > dd textarea {
  width: 100%;
  font-size: 16px;
  line-height: 2;
  outline: #f0f0f0;
  border: none;
}

.p-profileEdit-form dl > dd input:focus,
.p-profileEdit-form dl > dd textarea:focus {
  background-color: #f0f0f0;
}

.p-profileEdit-form__pic {
  display: block;
  background-color: #F0F0F0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.p-profileEdit-form__pic-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.p-profileEdit-form__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-profileEdit-form__pic-input {
  display: none;
}

.p-profileEdit-link {
  text-align: right;
}

.p-profileEdit-link span {
  color: #009DFF;
}

.p-returnLink {
  text-align: center;
  padding: 20px;
}

.p-returnLink a {
  display: inline-block;
}

.p-returnLink-icon {
  width: 15px;
}

.p-returnLink span {
  font-size: 12px;
  vertical-align: middle;
}

.p-search-wrapper {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F2E2CE;
  z-index: 1;
}

.p-search-tag {
  background-color: #fff;
}

.p-search-title {
  font-size: 20px;
  margin-bottom: 30px;
}

.p-search-tags {
  margin-bottom: 30px;
}

.p-search-close {
  text-align: center;
  cursor: pointer;
}

.p-search-close img {
  width: 50px;
}

.p-singlePost {
  position: relative;
  margin: 20px auto;
  width: 100%;
}

.p-singlePost-deleteIcon {
  position: absolute;
  display: block;
  width: 15px;
  right: 0px;
  top: -20px;
}

.p-wrapper-l {
  padding: 40px 5% 80px;
}

@media screen and (min-width: 768px) {
  .p-wrapper-l {
    padding: 80px 5%;
  }
}

